div{
    transition: all 0.25s ease;
}
h1 {
    font-family: Consolas;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
h2 {
    font-family: Consolas;
}
a {
    font-family: Consolas;
}
.gitcoupled .navbar-default .navbar-nav>li>a:hover, .gitcoupled .navbar-default .navbar-nav>li>a:focus {
    background-color:lightgrey;
}
h3 {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
p {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
blockquote {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
pre {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}
nav container {
    margin: 0px 10px 0px 10px;
}
#main-logo {
    height: 40px;
    margin-top: -6px;
}

.navbar.navbar-default.navbar-fixed-top.coupled {
    background-color: white;
    border-color:white;
    color: #000;
}

.navbar-default.coupled .navbar-nav>li>a {
    color: black;
}

main {
    margin-top: 75px;
}

.triple-row .panel{
    height: 411px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#sign-up {
    opacity: 0;
    transition: opacity 1s;
}
#happy-man {
    width: 100%;
}



#bottom-logo {
    float: left;
}

#floater {
    padding-top: 37px;   
}
#sign-up-small {
    display: block;
    margin-top: 25px;
    width: 100px
}

footer {
    padding: 50px 15px 15px 15px;
}

footer .center {
    text-align: center;
}

footer .right {
    text-align: right;
}

#footer-logo {
    height: 30px;
    opacity: 0.7;
}

#profile-pic {
    margin-top: 30px;
    width: 100%;
    border-radius: 5%;
}

#profile-name {
    font-size: 50px;
}

.profile h2 {
    margin: 0px 0px 5px 0px;
}

.profile ol {
    font-size: 20px;
}

.profile .quote {
    text-align: center;
    padding-top: 15px;
}

.profile .bio {
    padding-top: 30px;
}

.profile .profile-info {
    padding-left: 50px;
}

.profile .message-btn {
    margin-top: 30px;
}

.matches h1 {
    font-size: 40px;
}

.matches .profile-image {
    border-radius: 5%;
}

.thumbnail {
    border:none !important;
}

.matches .btn.message-btn {
    display:block;
    opacity:1 !important;
    margin: 20px 0px 20px 0px;
}

.row.match {
    padding-top: 23px;
    border-bottom: solid 2px lightgrey;
}

.row.match h2 {
    margin: 0px;
}

.matches .quote {
    font-style: italic;
}

img.profile {
    border-radius: 5%;
    margin-left: 15px;
    margin-bottom: 15px;
}

.edit-profile #profile-pic {
    width: 200px;
    height: 200px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white !important;
}

.messages-page .message {
    background-color: lightgrey;
    color: black;
    padding: 10px;
    margin-bottom: 15px;
}

.modal-backdrop {
    display: none !important;
}

.matches .btn, .profile .btn {
    width: 100%;
}

.pag-container {
    text-align: center;
}

.delete-message {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .25s;

}

button.delete-message-button {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.delete-message:hover {
    opacity:1;
}

@media only screen and (max-width : 768px) {
    .message-btn {
        width: 100%;
    }
}
